{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}
    {% if customer_id %}
    顧客編集
    {% else %}
    顧客追加
    {% endif %}
{% endblock %}

{% block body %}
    {% if customer_id %}
    <h4 class="mt-4 mb-5 border-bottom">顧客編集</h4>
    <form action="{% url 'customers:edit' customer_id=customer_id %}" method="post">
    {% else %}
    <h4 class="mt-4 mb-5 border-bottom">顧客追加</h4>
    <form action="{% url 'customers:add' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </div>
    </form>
{% endblock %}