{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}
メニュー
{% endblock %}

{% block body %}
<h4 class="mt-4 border-bottom">メニュー</h4>

<a href="{% url 'customers:list' %}" class="btn btn-primary btn-lg btn-block">顧客一覧</a>
<a href="{% url 'lessons:history_list' %}" class="btn btn-primary btn-lg btn-block">レッスン受講記録</a>
<a href="{% url 'index' %}" class="btn btn-primary btn-lg btn-block">月別請求一覧</a>
<a href="{% url 'index' %}" class="btn btn-primary btn-lg btn-block">レポート</a>
{% endblock %}
