{% extends "base.html" %}

{% block title %}
レッスン受講記録一覧
{% endblock %}

{% block body %}
<h4 class="mt-4 border-bottom">レッスン受講記録一覧</h4>
<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">受講者</th>
      <th scope="col">ジャンル</th>
      <th scope="col">受講日</th>
      <th scope="col">受講時間</th>
      <th scope="col">支払い金額<br>(日毎の受講時間より計算)</th>
    </tr>
  </thead>
  <tbody>
    {% for history in histories %}
    <tr>
      <th scope="row">{{ history.id }}</th>
      <td>{{ history.customer.name }}</td>
      <td>{{ history.lesson_plan }}</td>
      <td>{{ history.lesson_on }}</td>
      <td>{{ history.lesson_hour }} h</td>
      <td>{{ history.lesson_price }} 円</td>
      <td>
        <a href="{% url 'lessons:history_edit' history_id=history.id %}" class="btn btn-outline-primary btn-sm">編集</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'lessons:history_add' %}" class="btn btn-primary btn-sm my-3">新規追加</a>
{% endblock %}