{% extends "base.html" %}

{% block title %}
レッスンジャンル一覧
{% endblock %}

{% block body %}
<h4 class="mt-4 border-bottom">レッスンジャンル一覧</h4>
<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ジャンル名</th>
      <th scope="col">適用開始月</th>
      <th scope="col">適用終了月</th>
      <th scope="col">計算方法</th>
    </tr>
  </thead>
  <tbody>
    {% for plan in plans %}
    <tr>
      <th scope="row">{{ plan.id }}</th>
      <td>{{ plan.name }}</td>
      <td>{{ plan.started_on|date:"Y/m" }}</td>
      <td>{{ plan.ended_on|date:"Y/m" }}</td>
      <td>{{ plan.calculate_logic }}</td>
      <td>
        <a href="{% url 'lessons:plan_edit' plan_id=plan.id %}" class="btn btn-outline-primary btn-sm">編集</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'lessons:plan_add' %}" class="btn btn-primary btn-sm my-3">新規追加</a>
{% endblock %}